@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
 }

 @font-face {
  font-family: "Avenir LT Std Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
 }

 @font-face {
  font-family: "Avenir LT Std Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
 }

 @font-face {
  font-family: "Avenir LT Std Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
 }

 @font-face {
  font-family: "Avenir LT Std Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
 }
