@import 'fonts.css';

.header {
  padding: 25px 0;
}

.header__logo {
  max-width: 40%;
}

.section._wide {
  width: 100%;
  padding: 40px 0;
}

.section._small_pad {
  padding: 30px 0;
}

.section._bg_red {
  background-color: #af003e;
}

.section__narrow-block {
  width: 263px;
  margin: 0 auto;
}

.section._bg_white {
  background-color: #fff;
}

.section._bg_gray {
  background-color: #e6eaee;
}

.section._bg_more-gray {
  background-color: #1c2125;
}

.section__title {
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
}

.section__title._large {
  font-size: 36px;
}

.section__title._font_avenir-black {
  font-family: "Avenir LT Std Black";
}

.section__title._font_avenir-heavy {
  font-family: "Avenir LT Std heavy";
}

.section__title._small {
  font-size: 24px;
}

.section__title._smallest {
  font-size: 20px;
}

.section__title._normal-lh {
  line-height: 20px;
}

.section__title._medium {
  font-size: 29px;
}

.section__title._left {
  text-align: left;
}

.section__title._large {
  font-size: 41px;
}

.section__title._big {
  font-size: 29px;
}

.section__title._white {
  color: #fff;
}

.section__title._red {
  color: #af003e;
}

.section__title._font_myriad {
  font-family: 'Myriad Pro Regular';
}

.section__title._small_pad {
  padding: 30px 0;
}

.section__title._underlined-left::after {
  content: '';
  position: absolute;
  width: 172px;
  height: 3px;
  background-color: #af003e;
  left: 0;
  bottom: 0;
}

.section__title._underlined-center {
  padding-bottom: 45px;
}

.section__title._underlined-center::after {
  content: '';
  position: absolute;
  width: 172px;
  height: 3px;
  background-color: #af003e;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.section__subtitle {
  text-align: center;
  display: block;
  width: 100%;
}

.section__subtitle._large {
  font-size: 26px;
}

.section__subtitle._white {
  color: #fff;
}

.section__subtitle._font_myriad {
  font-family: 'Myriad Pro Regular';
}

.section__form {
  padding: 14px 30px;
  width: 90%;
  margin: 0 auto;
}

.section__form .form-group {
  margin-bottom: 0.4rem;
}

.section__form._bg_gray {
  background-color: #e6eaee;
}

.section__img-aside {
  max-width: 108%;
  transform: translate(-17px, 0);
}

.section__img {
  max-width: 100%;
}

.section__img._centered {
  display: block;
  margin: 0 auto;
}

.section__text {
  font-size: 19px;
  line-height: 19px;
  color: #000;
}

.section__text._white {
  color: #fff;
}

.section__text._max-center {
  text-align: center;
  width: 100%;
}

.section__text._space-top {
  margin-top: 24px;
}

.section__text._less-space-top {
  margin-top: 8px;
}

.section__text._font_avenir {
  font-family: "Avenir LT Std Roman";
}

.section__text._small {
  font-size: 16px;
}

.section__text._smallest {
  font-size: 12px;
  line-height: 3px;
}

.section__text._gray {
  color: #4e575e;
}

.section__text._center {
  text-align: center;
}

.section__text._large {
  font-size: 21px;
}

.section__text._normal-lh {
  line-height: 28px;
}

.section__text._centered {
  padding: 55px 0;
}

.section__text._red {
  color: #af003e;
}

.section__text._gray {
  color: #4e575e;
}

.section__text._bigger {
  font-size: 21px;
}

.section__inner-sec {
  padding: 23px 0;
}

.section__form-label {
  font-size: 16px;
  font-family: "Avenir LT Std Medium";
  margin-bottom: 0;
  color: #4e575e;
}

.section__form-input {
  border-radius: 0;
}

.section__form-input._inner-shadow {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.32);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.32);
}

.section__btn {
  text-transform: uppercase;
  font-family: 'Myriad Pro Regular';
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 0;
  color: #fff;
  margin-top: 30px;
}

.section__btn:hover {
  color: #d0d0d0;
}

.section__btn._normalize {
  white-space: normal;
  margin-top: 16px;
}

.section__btn._smaller {
  width: 47%;
}

@media (max-width: 372px) {
  .section__btn._smaller {
    width: 56%;
  }
}

.section__btn._bg_red {
  background-color: #af003e;
}

.section__btn._big {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}

.section__btn._shadow {
  -webkit-box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.33);
  box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.33);
}

.section__list-item-icon {
  float: left;
  width: 36px;
  height: 36px;
}
.section__list._medium-pad {
  padding: 55px 0;
}

.section__list._less-pad-left {
  padding-left: 11px;
}

.section__list-item-icon-img {
  max-width: 100%;
}

.section__list-item {
  color: #040404;
  font-family: "Avenir LT Std Heavy";
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.section__list-item-red-point {
  background-color: #af003e;
  width: 6px;
  height: 6px;
  float: left;
  border-radius: 100%;
  transform: translateY(9px);
  margin-right: 8px;
}

.section__list-item._font_avenir {
  font-family: "Avenir LT Std Roman";
}

.section__list-item._small {
  font-size: 16px;
  line-height: 20px;
}

.section__list-item._margin-top {
  margin-top: 13px;
}

.section__list-item._gray {
  color: #4e575e;
}

.section__list-item-text-pos {
  margin-left: 55px;
  padding-top: 2px;
}

._marg-top {
  margin-top: 50px;
}

._pad-top {
  margin-top: 30px;
}

._no-margin {
  margin: 0;
}

._no-padding {
  padding: 0;
}

._pad-bottom {
  padding: 0 0 30px;
}

._posr {
  position: relative;
}

._space {
  padding: 40px 0 0;
}

ul {
  list-style-type: none;
}

._full-width {
  width: 100%;
}
